@{
    ViewData["Title"] = "Excluir";
}
<div class="container">
    <h1 class="cadastro fw-bold">Categoria</h1>
    <hr class="border border-dark border-1">
    @model ProjetoBackend.Models.Categoria

    <h4 class="cadastro">Excluir Categoria</h4><div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
        </dl>
        <div class="row m-0 p-0">
            <div class="col">
                <input type="hidden" asp-for="CategoriaId" class="form-control" />

                <div class="row">
                    <div class="col col-md-6 mt-4 p-0 form-group">
                        <input type="submit" value="Excluir" class=" botaocriar fw-semibold" />
                    </div>

                    <div class="col col-md-6 mt-4 d-flex p-0 justify-content-end">
                        <a class="botaocancelar m-0 p-0 fw-semibold" asp-action="Index">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>