    @page
    @model LoginModel

@{
    ViewData["Title"] = "Login";
    {
        <style>
            header, footer {
                display: none
            }

            #login {
                height: 100dvh;
                background: url("@Url.Content("~/img/login.jpg")")
            }
        </style>
    }
}

<div id="login" class="w-100 d-flex justify-content-center align-items-center">
    <div class="col-md-4 col-lg-3">
        <!-- Ajusta a largura do formulário -->
        <section class="container">
            <form id="account" method="post" class="p-4 shadow rounded" style="background-color: #f8f9fa;">
                <div class="d-flex justify-content-between">
                    <h2 class="text-left mb-3" style="font-weight: 700; color:#8A2BE2">Login</h2>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <h4 class="text-left mb-3 w-2" style="color:#808080"><ion-icon name="arrow-back-outline"></ion-icon></h4>
                    </a>
                </div>
                <p class="text-left">Estamos felizes em termos você de volta!</p>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Senha</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    <label asp-for="Input.RememberMe" class="form-check-label">Lembrar senha?</label>
                </div>

                <div style="background: #8a2be2;">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg text-white">Entrar</button>
                </div>

                <div class="text-center mt-3">
                    <a id="forgot-password" style="color: #131313; font-weight: 500" class="text-decoration-none" asp-page="./ForgotPassword">Esqueceu a senha?</a>
                </div>
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <img src="@Url.Content("~/img/Line 1.png")" alt="LINHAAAA" />
                    <h6 class="justfy-content-center">ou</h6>
                    <img src="@Url.Content("~/img/Line 1.png")" alt="LINHAAAA" />
                </div>
                <div class="d-flex justify-content-center align-itens-center gap-1">
                    <p style="font-weight: 400  ">Não tem uma conta? </p>
                    <a style="font-weight: 700; color: #8A2BE2" class="text-decoration-none" asp-area="Identity" asp-page="/Account/Register">Crie agora!</a>
                </div>





            </form>
        </section>
    </div>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />


    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-app.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyBxsSJQGO5DCDtCMkwLzlb2fx2uP_gr0YQ",
            authDomain: "troptech-f1413.firebaseapp.com",
            projectId: "troptech-f1413",
            storageBucket: "troptech-f1413.appspot.com",
            messagingSenderId: "841996515231",
            appId: "1:841996515231:web:9e2be1397de6f92df2efaa"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
    </script>
}