@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar";
    {
        <style>
            header, footer {
                display: none
            }
        </style>
    }
}

<div id="login" class="w-100 d-flex justify-content-center align-items-center">
    <div class="col-md-4 col-lg-3">
        <!-- Ajusta a largura do formulário -->
        <section class="container">
            <form id="account" method="post" class="p-4 shadow rounded" style="background-color: #f8f9fa;">
                <div class="d-flex justify-content-between">
                    <h2 class="text-left mb-3" style="font-weight: 700; color:#8A2BE2">Cadastrar</h2>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <h4 class="text-left mb-3 w-2" style="color:#808080"><ion-icon name="arrow-back-outline"></ion-icon></h4>
                    </a>
                </div>
                <p class="text-left">Estamos felizes em ter você na nossa equipe!</p>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Senha</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirmar senha</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div style="background: #8a2be2; border-radius-12>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg text-white">Criar</button>
                </div>
                <div class="text-center mt-3">
                    <a id="forgot-password" style="color: #131313; font-weight: 500" class="text-decoration-none" asp-page="./ForgotPassword">Lembrar senha?</a>
                </div>
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <img src="@Url.Content("~/img/Line 1.png")" alt="LINHAAAA" />
                    <h6 class="justfy-content-center">ou</h6>
                    <img src="@Url.Content("~/img/Line 1.png")" alt="LINHAAAA" />
                </div>
                <div class="d-flex justify-content-center align-itens-center gap-1">
                    <p style="font-weight: 400  ">Já tem uma conta? </p>
                    <a style="font-weight: 700; color: #8A2BE2" class="text-decoration-none" asp-area="Identity" asp-page="/Account/Login">Entre já!</a>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
