@{
    ViewData["Title"] = "Sobre a Equipe";
    var backgroundImage = ViewData["BackgroundImage"];
}
<style>
    body {
        background: url('@backgroundImage') no-repeat center center fixed;
        background-size: cover;
    }
</style>
<div class="Sobre-nos">
    <h1 class="fw-bold">#NOSSAEQUIPE</h1>
    <div class="ConteudoSBN d-flex align-items-center">
        <div class="QuemSomos align-items-center">
            <h4 class="">QUEM SOMOS NÓS</h4>
            <p class="fw-bold text-center justify-content-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="Membros align-items-center">
            <div class="Mazzi d-flex align-items-center">
                <img src="~/img/mazzi.png" />
                <p class="fw-bold">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="Bruno d-flex align-items-center">
                <p class="fw-bold">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <img src="~/img/bruno.png" />
            </div>
            <div class="Luz d-flex align-items-center ">
                <img src="~/img/luz.png" />
                <p class="fw-bold">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>


            </div>
        </div>
    </div>
</div>
